@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    background: #ebebeb;
    color: black;
    body { margin: 0; }
}

//pokemon type classes
div {
    .normal { background-color: #A8A878; }
    .fire { background-color: #F08030; }
    .water { background-color: #6890F0; }
    .grass { background-color: #78C850; }
    .electric { background-color: #F8D030; }
    .ice { background-color: #98D8D8; }
    .fighting { background-color: #C03028; }
    .poison { background-color: #A040A0; }
    .ground { background-color: #E0C068; }
    .flying { background-color: #A890F0; }
    .psychic { background-color: #F85888; }
    .bug { background-color: #A8B820; }
    .rock { background-color: #B8A858; }
    .ghost { background-color: #705898; }
    .dragon { background-color: #7038F8; }
    .dark { background-color: #705848; }
    .steel { background-color: #B8B8D0; }
    .fairy { background-color: #EE99AC; }
}


//main structure
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .container {
            width: 1200px;
            @media all and (max-width: 1280px) { width: 95%; }
            max-width: 1280px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            margin-inline: 5%;
        }
    }
}


//header
.header-wrap {
    position: sticky;
    z-index: 2;
    top: 0px;
    
    background: rgb(255, 255, 150);
    height: 75px;

    .content-wrap {
        display: flex;
        @media all and (max-width: 620px) { justify-content: space-between; }
        align-items: center;
        margin-inline: 20px;

        .logo-wrap {
            a {
                color: black;
                .logo {
                    font-size: 75px;
                }
            }
        }

        .menu-icon {
            display: none;
            font-size: 30px;
            cursor: pointer;
            @media all and (max-width: 620px) { display: block; }
        }

        .nav-bar {
            margin-left: auto;
            margin-right: 20px;
            @media all and (max-width: 620px) { display: none; }
            .nav-link {
                text-decoration: none;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.6);
                margin-inline: 20px;

                &:hover { color: black; }
    
                &:last-child { margin: 0; }
            }
        }
    }
}
.header-wrap-mobile {
    position: sticky;
    z-index: 20;
    top: 0px;
    
    background: rgb(255, 255, 150);
    height: 100vh;

    .content-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-inline: 20px;

        .logo-wrap {
            .logo {
                font-size: 75px;
            }
        }

        .nav-bar {
            order: 3;
            display: flex;
            flex-direction: column;
            align-items: left;
            width: 100%;
            margin-top: 50px;
            .nav-link {
                text-decoration: none;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.6);
                &:hover { color: black; }
                font-size: 20px;
                padding: 10px 8px;
            }
        }
    }
}
.menu-wrap {
    .menu-icon {
        font-size: 30px;
        cursor: pointer;
    }

    .menu-icon-hide {
        display: none;
    }
}

//footer
.footer-wrap {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 0;

    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (max-width: 660px) { padding-inline: 5%;}

    min-height: 200px;

    .row-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 67%;
        @media all and (max-width: 960px) { width: 80%; }
        @media all and (max-width: 660px) { width: 100%; }
        max-width: 1280px;
        .first-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;

            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            .logo-wrap {
                margin-bottom: 25px;
                .logo { font-size: 75px; }
            } 
            .links {
                @media all and (max-width: 620px) {
                    display: flex;
                    flex-direction: column;
                }
                margin-bottom: 25px;
                .footer-link {
                    color: rgba(0, 0, 0, 0.6);
                    &:hover { color: black; }
                    text-decoration: none;
                    padding-inline: 10px;
                }
            }  
        }

        .second-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
            
            .legal-text {
                display: grid;
                grid-template-columns: 20px auto;
                align-items: center;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.6);

                .copyright { padding-right: 5px; margin-top: 2px; margin-bottom: auto;}
            }
            
            .legal-links {
                @media all and (max-width: 620px) {
                    display: flex;
                    flex-direction: column;
                }
                a {
                    color: rgba(0, 0, 0, 0.6);
                    &:hover { color: black; }
                    cursor: pointer;
                    padding-inline: 10px;
                }
            }
        }
    }
}